* {
    margin: 0;
}

body {
    background-color: #aaa;
}

img {
    width: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    padding: 0 5px;
}

nav a:hover {
    color: #333;
}

.menu-hamburger {
    display: none;
}

@media (max-width: 700px) {
    nav {
        position: absolute;
        right: 0;
        top: 64px;
        background-color: #fff;
        width: 100%;
        text-align: right;
        display: none;
    }

    .active {
        display: block;
    }

    nav a {
        display: block;
        padding: 5px 20px;
    }

    .menu-hamburger {
        display: block;
    }
}